body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
main{
  min-height: 100vh;
  display:flex;
  padding:1.5rem;
 
}

.cards-container {
  color: white;
  margin: 1.5rem;
  font-family: "lexend Deca ";
  font-weight: 400;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
  margin: auto;
}
.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width:100%;
}
.card h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders";
  font-weight: 700;
  font-size: 2.5rem;
}
.card img {
  width: 64px;
  height: 40px;
}
.card p {
  opacity: 0.7;
  line-height: 1.75;
  margin-bottom: 2.5rem;
}

.orange-card {
  background-color: #e28525;
  /* border-top-right-radius: 8px;
  border-top-left-radius: 8px; */
}
.green-card {
  background-color: #016972;
}
.dark-green-card {
  background-color: #00403f;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
}
.card a {
  border: 2px solid white;
  padding: 1em 2em;
  border-radius: 2em;
  margin-top: auto;
  align-self: flex-start;
}
@media (max-width:850px){
  .cards-container{
    flex-direction: column;
    max-width: 400px;
  }
  .card{
    width: unset;
  }
}